﻿@page
@model WebApplication14.Pages.RegistrationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<style>

	.field-validation-error {
		color: #b94a48;
	}

	input.input-validation-error {
		border: 1px solid #b94a48;
	}

	input.valid {
		border: 1px solid #16a085;
	}

	.validation-summary-errors {
		color: #b94a48;
	}

</style>

<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<p style="display:flex; flex-direction:column">
		<label asp-for="Registration.FullName"></label>
		<input type="text" asp-for="Registration.FullName" />
		<span asp-validation-for="Registration.FullName"></span>
	</p>
	<p style="display:flex; flex-direction:column">
		<label asp-for="Registration.Email"></label>
		<input asp-for="Registration.Email" />
		<span asp-validation-for="Registration.Email" ></span>
	</p>
	<p style="display:flex; flex-direction:column">
		<label asp-for="Registration.Date"></label>
		<input asp-for="Registration.Date" />
		<span asp-validation-for="Registration.Date"></span>
	</p>
	<p style="display:flex; flex-direction:column">
		<label asp-for="Registration.Subject"></label>
		<select asp-for="Registration.Subject">
		<option value="JavaScript">JavaScript</option>
		<option value="C#">C#</option>
		<option value="Java">Java</option>
		<option value="Python">Python</option>
		<option value="Основи">Основи</option>
	</select>
	<span asp-validation-for="Registration.Subject"></span>
	</p>
	<p>
		<input type="submit" value="Save" />
	</p>
</form>